<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Match</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the match"
                    name = "match" required>
                </div>

                <div class="form-group">
                    <label for="numberField">Teams</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the teams"
                    name ="teams" required>
                </div>

                <div class="form-group">
                    <label for="numberField">Game</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the game"
                    name="game" required>
                </div>

                <div class="form-group">
                    <label for="numberField">Time</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the time"
                    name="time" required>
                </div>
                <div class="form-group">
                    <label for="numberField">Price</label>
                    <input type="text" class="form-control"
                    id="numberField"
                    placeholder="Enter the price"
                    name="price" required>
                </div>
 
                
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/match-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>

<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>